localhost {
    root * /var/www/html/public
    php_fastcgi app:9000
    file_server
    encode gzip

    @notStatic {
        not file
        not path /storage/*
        not path /build/*
    }

    rewrite @notStatic /index.php
}
